// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


$grid-max-widths: (
 lg: 992px
);

$ion-grid-padding: 0px;
$grid-padding-width:  0px;

$grid-breakpoints: (
 xs: 0, // Phone (0px - 575px)
 sm: 576px, // Phablet (576px - 767px)
 md: 768px, // Tablet vertical (768px - 991px)
 lg: 992px // Tablet horizontal, Desktop (992px and above)
);


$outer-card-background-color:  #212121 !important;
$inner-card-background-color: #2A2A2A !important;



ion-toolbar {
  --background: #393939;
}

// app-tmdb-card
// app-tmdb-scrolling-cards

//inner
app-tmdb-scrolling-cards app-tmdb-card ion-card {
  --background: #2A2A2A !important;
}

app-tmdb-scrolling-cards ion-card ion-card {
  --background: #2A2A2A !important;
}

app-movies-collection app-pouch-movie ion-card {
  --background: #2A2A2A !important;
}

app-movies-collection ion-card {
  --background: #212121 !important;
}

//outer
app-tmdb-scrolling-cards ion-card {
  --background: #212121 !important;
  
}

app-movie-detail ion-card {
  --background: #212121 !important;
    border-radius: 0px;
}

app-movie-detail app-tmdb-card ion-card {
  --background: #2A2A2A !important;
}


app-tvshow-detail ion-card {
  --background: #212121 !important;
    border-radius: 0px;
}

app-tvshow-detail app-tmdb-card ion-card {
  --background: #2A2A2A !important;
}



// outer trailer slider
app-trailer-slider ion-slides ion-slide ion-card {
  --background: #212121 !important;
}


ion-action-sheet {
  --background: #2A2A2A !important;
}

ion-tabs {
  --background: white !important;
}

ion-content {
  --background: #191919;
}

ion-tab-bar {
  --color: #ffffff;
  --background: #303030;
}

:root {
  --ion-background-color: #191919;
  --ion-background-color-rgb: 25,25,25;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #252525;
  --ion-color-step-100: #303030;
  --ion-color-step-150: #3c3c3c;
  --ion-color-step-200: #474747;
  --ion-color-step-250: #535353;
  --ion-color-step-300: #5e5e5e;
  --ion-color-step-350: #6a6a6a;
  --ion-color-step-400: #757575;
  --ion-color-step-450: #818181;
  --ion-color-step-500: #8c8c8c;
  --ion-color-step-550: #989898;
  --ion-color-step-600: #a3a3a3;
  --ion-color-step-650: #afafaf;
  --ion-color-step-700: #bababa;
  --ion-color-step-750: #c6c6c6;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dddddd;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f4f4f4;

   /** primary **/
   --ion-color-primary:  #03A9F4; // #3880ff;
   --ion-color-primary-rgb: 56, 128, 255;
   --ion-color-primary-contrast: #ffffff;
   --ion-color-primary-contrast-rgb: 255, 255, 255;
   --ion-color-primary-shade: #3171e0;
   --ion-color-primary-tint: #4c8dff;
 
   /** secondary **/
   --ion-color-secondary: #0cd1e8;
   --ion-color-secondary-rgb: 12, 209, 232;
   --ion-color-secondary-contrast: #ffffff;
   --ion-color-secondary-contrast-rgb: 255, 255, 255;
   --ion-color-secondary-shade: #0bb8cc;
   --ion-color-secondary-tint: #24d6ea;
 
   /** tertiary **/
   --ion-color-tertiary: #7044ff;
   --ion-color-tertiary-rgb: 112, 68, 255;
   --ion-color-tertiary-contrast: #ffffff;
   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
   --ion-color-tertiary-shade: #633ce0;
   --ion-color-tertiary-tint: #7e57ff;
 
   /** success **/
   --ion-color-success: #689F38; // #10dc60;
   --ion-color-success-rgb: 16, 220, 96;
   --ion-color-success-contrast: #ffffff;
   --ion-color-success-contrast-rgb: 255, 255, 255;
   --ion-color-success-shade: #0ec254;
   --ion-color-success-tint: #28e070;
 
   /** warning **/
   --ion-color-warning: #ffce00;
   --ion-color-warning-rgb: 255, 206, 0;
   --ion-color-warning-contrast: #ffffff;
   --ion-color-warning-contrast-rgb: 255, 255, 255;
   --ion-color-warning-shade: #e0b500;
   --ion-color-warning-tint: #ffd31a;
 
   /** danger **/
   --ion-color-danger: #f04141;
   --ion-color-danger-rgb: 245, 61, 61;
   --ion-color-danger-contrast: #ffffff;
   --ion-color-danger-contrast-rgb: 255, 255, 255;
   --ion-color-danger-shade: #d33939;
   --ion-color-danger-tint: #f25454;
 
   /** dark **/
   --ion-color-dark: #222428;
   --ion-color-dark-rgb: 34, 34, 34;
   --ion-color-dark-contrast: #ffffff;
   --ion-color-dark-contrast-rgb: 255, 255, 255;
   --ion-color-dark-shade: #1e2023;
   --ion-color-dark-tint: #383a3e;
 
   /** medium **/
   --ion-color-medium: #989aa2;
   --ion-color-medium-rgb: 152, 154, 162;
   --ion-color-medium-contrast: #ffffff;
   --ion-color-medium-contrast-rgb: 255, 255, 255;
   --ion-color-medium-shade: #86888f;
   --ion-color-medium-tint: #a2a4ab;
 
   /** light **/
   --ion-color-light: #f4f5f8;
   --ion-color-light-rgb: 244, 244, 244;
   --ion-color-light-contrast: #000000;
   --ion-color-light-contrast-rgb: 0, 0, 0;
   --ion-color-light-shade: #d7d8da;
   --ion-color-light-tint: #f5f6f9;


}