
  <ion-slides>
    <ion-slide>
    <ion-card class="skeleton-container-card ">


      <div class="img-container">
        <ion-img class="skeleton-ion-img">
         </ion-img>
        <ion-icon name="play-circle"></ion-icon>
      </div>
  
        <ion-card-content>
          <div class="text-container">
            <ion-row>
                <ion-text color="light"><ion-skeleton-text animated style="width: 90px"></ion-skeleton-text></ion-text>
            </ion-row>
            <ion-row>
              <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
            </ion-row>
             
          </div>
      
       

        </ion-card-content>
        <app-skeleton-movie-small></app-skeleton-movie-small>
    </ion-card>
         
          
      
      
    </ion-slide>
  </ion-slides>
