<ion-card style="ios" class="skeleton-container-card">
  <ion-card-header>
      <ion-card-title><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-card-title>
  </ion-card-header>
  
  <div scrollX="true">
  
      <ion-card class="scrollItem skeleton-movies-large-card">
          <ion-img class="skeleton-ion-img" ><ion-skeleton-text ></ion-skeleton-text></ion-img>
      <ion-card-content> <ion-skeleton-text animated ></ion-skeleton-text>
      </ion-card-content>
          </ion-card>
          <ion-card class="scrollItem skeleton-movies-large-card">
              <ion-img class="skeleton-ion-img" ><ion-skeleton-text ></ion-skeleton-text></ion-img>
          <ion-card-content> <ion-skeleton-text animated ></ion-skeleton-text>
          </ion-card-content>
              </ion-card>
              <ion-card class="scrollItem skeleton-movies-large-card">
                  <ion-img class="skeleton-ion-img" ><ion-skeleton-text ></ion-skeleton-text></ion-img>
              <ion-card-content> <ion-skeleton-text animated ></ion-skeleton-text>
              </ion-card-content>
                  </ion-card>
  </div>
</ion-card>